body {
    text-align: center;
    background: #FFE4E1;
}

#bio {
    padding: 20px;
    text-align: center;
    font-size: 20;
}

#imgfav {
    border-radius: 50%;
    width: 300px;
}
